
body {
font-family: Papyrus;
background-color: #E4D2BE;
}

#header {
display: flex;
flex-direction: column;
background-color: #A38462;
}

h1 {
z-index: 1;
margin: auto;
color: #FFF1E0;
font-weight: bolder;

}

.main {
margin: auto;
font-style: italic;
font-weight: bolder;
}

.image-container {
	display: flex;
	justify-content: center;

}
#image1 {
align-self: flex-end;
max-width: 1000px;
max-height: 500px;
}




.box {
display: flex;
justify-content: space-around;
}


.dropdown-content {
display: ;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
gi
}

.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}
.dropdown {

position: relative;
display: inline-block;
}
.dropdown-content li {
color: black;
padding: 12px 16px;
text-decoration: none;
display:;
}
.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.content {
display: flex;

background-color: #C2A98D;
border-radius: 3%;
border-color: red;
border-style: solid;
}
.menu-options {
text-align: center;
font-weight: bold;
}
label{
margin: 35px;

}

.border {
display: flex;
justify-content: space-around;
align-items: center;

}

#reviews {
flex-basis: 300px;

}


#image2 {
	height: 400px;
	width: 550px;
	align-self: flex-end;
}
@media (mmax-width: 600px) {
	#image2 {
		flex-shrink: 1;
	}
}

#map{
display: block;
margin: auto;
width:750px;
height:550px;
}
