
body {
font-family: Papyrus;
background-color: #E4D2BE;
}

/*Dapper D header and image*/
#header {
display: flex;
flex-direction: column;
background-color: #A38462;
}

h1 {
z-index: 1;
margin: auto;
color: #FFF1E0;
font-weight: bolder;

}

.main {
margin: auto;
font-style: italic;
font-weight: bolder;
}

.image-container {
	display: flex;
	justify-content: center;

}
#image1 {
align-self: flex-end;
max-width: 1000px;
max-height: 500px;
}



/*Reservation maker and current reservations*/
.box {
display: flex;
justify-content: space-around;
height: 350px;
}

/*reservation maker*/
.reservation {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: #C2A98D;
border-radius: 3%;
border-color: red;
border-style: solid;
width: 30%
}







/*existing reservations*/
.content { /*can this be added to the reservation class?*/
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: #C2A98D;
border-radius: 3%;
border-color: red;
border-style: solid;
width: 30%
}


/*map*/
#map{
display: block;
margin: auto;
width:750px;
height:550px;
}

.show {
	display: block;

}


/*review section w/ image*/
.border {
display: flex;
justify-content: space-around;
align-items: center;

}

#reviews {
flex-basis: 300px;

}


#image2 {
	height: 400px;
	width: 550px;
	align-self: flex-end;
}
@media (mmax-width: 600px) {
	#image2 {
		flex-shrink: 1;
	}
}

